.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  margin-bottom: 12px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.card__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212121;
  margin: 0;
  box-sizing: border-box;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 350px;
}

.card__like-button {
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__like-icon {
  width: 22px;
  height: 20px;
  content: url("../images/heart.svg");
  transition: content 0.3s ease, transform 0.3s ease;
}

.card__like-button:hover .card__like-icon {
  content: url("../images/heart_hover.svg");
  transform: scale(1.1);
}

.card__like-button_active .card__like-icon {
  content: url("../images/liked.svg");
  transform: scale(1.1);
}

.card__like-button_active:hover .card__like-icon {
  content: url("../images/liked_hover.svg");
  transform: scale(1);
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__delete-button:hover .card__delete-icon {
  content: url("../images/delete_hover.png");
}

.card__delete-icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1279px) {
  .card {
    max-width: 413px;
  }

  .card__description {
    max-width: 413px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 288px;
    width: 100%;
  }

  .card__description {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    height: 18px;
    width: 20px;
  }

  .card__like-icon {
    width: 20px;
    height: 18px;
  }
}
