.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
}

.header__logo {
  display: flex;
  max-width: 148px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid;
    width: 100%;
  }

  .header__logo {
    width: 94px;
    height: 26px;
  }
}
