.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
  padding-top: 20px;
}

.profile__content {
  display: flex;
  gap: 30px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile__name {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", "Arial", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 350px;
}

.profile__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__description {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #716e68;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Poppins", "Arial", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 400px;
}

.profile__edit-button {
  margin-top: auto;
  opacity: 0.7;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  color: #212121;
}

.profile__edit-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.profile__add-button {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  border: none;
  background-color: #212121;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.profile__edit-button:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 32px;
  }

  .profile__name {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    align-self: center;
    font-family: "Poppins", "Arial", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 350px;
  }

  .profile__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__description {
    display: flex;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    align-self: center;
    padding-bottom: 32px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .profile__info {
    align-items: center;
  }

  .profile__edit-button {
    margin-top: auto;
    opacity: 0.7;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    color: #212121;
  }
  .profile__add-button {
    margin: 0;
    width: 288px;
    height: 52px;
    border-radius: 8px;
    justify-content: center;
  }
}
