@media screen and (max-width: 1400px) {
  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery__cards {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .profile__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__info {
    align-items: center;
  }

  .profile__add-button {
    width: 100%;
    justify-content: center;
  }
}
