html {
  min-width: 320px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  padding: 0 16px;
  z-index: 10;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.modal__container_type_preview {
  display: inline-block;
  width: auto;
  position: relative;
  padding: 0;
  background-color: transparent;
  text-align: center;
}

.modal__image-container {
  display: inline-block;
  position: relative;
  overflow: visible;
  margin: 0 auto;
}

.modal__image {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
}

.modal__caption {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 8px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  max-width: 100%;
  background: #212121;
  box-sizing: border-box;
  margin-top: 12px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/Group_27.png");
  background-color: transparent;
  opacity: 0.4;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url("../images/Group_28.png");
  background-color: transparent;
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  opacity: 0.7;
  border-radius: 8px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}

.modal__input_type_error {
  border: 1px solid #ff0000;
  opacity: 0.6;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  color: #ff0000;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 769px) {
  .modal {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__container {
    max-width: 300px;
    position: relative;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }

  .modal__container_type_preview {
    display: inline-block;
    width: auto;
    position: relative;
    padding: 0;
    background-color: transparent;
    text-align: center;
  }

  .modal__image-container {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  #edit-avatar-modal .modal__title {
    margin: 10px 0 12px;
  }

  #edit-avatar-modal .modal__label {
    margin-bottom: 0;
  }

  #edit-avatar-modal .modal__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .modal__close-btn {
    top: 20.49px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 16px;
  }

  .modal__input {
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    height: 27px;
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -40px;
    right: -11px;
  }
}
